<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title).blank? ? DEFAULT_TITLE : yield(:title) %></title>
	  <%= stylesheet_link_tag :application %>	
    <%= javascript_include_tag :application %>
		<%= csrf_meta_tag %>   
		<%= yield :html_head %>
	</head>
<body>

<div id="custom-header"></div>
<div class="container">
	<%= render :partial => "share/header" %>
	<div id="content">
		<%= yield %>
	</div>
</div>
<%= render :partial => "share/footer" %>
</body>
</html>
